<div class="zoneCreationInput">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <form>

                <fieldset class="form-group form-group-lg">
                    <div class="label control-label text-center">Name</div>
                    <input class="form-control" type="text" ng-model="zone.name">
                </fieldset>

                <fieldset class="form-group form-group-lg">
                    <div class="label control-label">Description</div>
                    <input class="form-control" type="text" ng-model="zone.description">
                </fieldset>

                <fieldset class="form-group form-group-lg">
                    <div class="label control-label">Floor</div>
                    <input class="form-control" type="number" ng-model="zone.location.floorNumber">
                </fieldset>
            </form>
        </div>
        <form>
            <div class="col-xs-5">
                <fieldset class="form-group form-group-lg">
                    <div class="label control-label">Area Name</div>
                    <input class="form-control" type="text" ng-model="zone.areaName">
                </fieldset>

                <fieldset class="form-group form-group-lg">
                    <div class="label control-label">Location description</div>
                    <input class="form-control" type="text" ng-model="zone.location_description">
                </fieldset>

        </form>
    </div>
</div>


</div>