<div ng-if="selected !== undefined">

    <div class="row">
        <div class="col-xs-offset-1 col-xs-3">
            <div class="form-group">
                <div class="label">Select day of request:</div>
                <select class="form-control" ng-model="selectedDate.day" ng-change="getSelectedRequestValueForDate()">
                    <option ng-repeat="day in optionRangeForDays">{{day.number}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <div class="label">Select month of request:</div>
                <select class="form-control" ng-model="selectedDate.month" ng-change="getSelectedRequestValueForDate()">
                    <option ng-repeat="month in optionRangeForMonth">{{month.number}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <div class="label">Select year of request:</div>
                <select class="form-control" ng-model="selectedDate.year" ng-change="getSelectedRequestValueForDate()">
                    <option ng-repeat="year in optionRangeForYear">{{year.number}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-9">
            <div class="form-group">
                <div class="label">Select hour:</div>
                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
            </div>
        </div>
    </div>


    <div ng-if="display === 'text'" class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="panel panel-success">
                <div class="panel-heading text-center">{{selected.name}}</div>
                <div class="panel-body">
                    <p><b>View:</b> {{viewName}}</p>
                    <p><b>Result:</b> {{resultCount}}</p>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="display === '3d'" class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <cesium-Display-Helper zones="selected.viewGeometry" editable="true"
                                   request="selected" result="resultCount"></cesium-Display-Helper>
        </div>
    </div>


    <div ng-if="!selected">
        <h2>No Request selected</h2>
    </div>
</div>