<div class="viewAttributes row">

    <div class="col-xs-12 container" style="margin-top: 100px;">
        <form>

            <fieldset class="form-group form-group-lg">
                <div class="label control-label text-center">Name</div>
                <input class="form-control" type="text" ng-model="view.name" ng-change="updateView()">
            </fieldset>

            <fieldset class="form-group form-group-lg">
                <div class="label control-label text-center">Description</div>
                <input class="form-control" type="text" ng-model="view.description" ng-change="updateView()">
            </fieldset>

        </form>
    </div>
</div>